<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar class="header" color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']">Items</a>
      <a mat-list-item [routerLink]="['/posts']">Posts</a>
      <a mat-list-item [routerLink]="['/create']">New Post</a>
      <hr>
      <a mat-list-item href="#">Other</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="header" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="header">The Independent Brotherhood</span>
      <span class="spacer"></span>
      <ul>
        <li>
          <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
        </li>
        <li>
          <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Sign Up</a>
        </li>
      </ul>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
