<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion *ngIf="applications.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let application of applications" matBadge="" matBadgePosition="before" matBadgeColor="accent" >
    <mat-expansion-panel-header>
      <mat-icon style="color: greenyellow;" *ngIf="application.isRunning" aria-label="RUN">power_settings_new</mat-icon>
      <mat-icon color="warn" *ngIf="!application.isRunning" aria-label="STOP">power_settings_new</mat-icon>
      {{ application.title }}
    </mat-expansion-panel-header>
    <div class="app-image" *ngIf="application.imagePath">
      <img [src]="application.imagePath" [alt]="application.title">
    </div>
    <p>{{ application.content }}</p>
    <mat-action-row *ngIf="userIsAuthenticated && isAdmin">
      <button mat-button style="color: greenyellow;" *ngIf="!application.isRunning" (click)="onStart(application.id)" matTooltip="Start the application" >
        <mat-icon aria-label="RUN">play_arrow</mat-icon>
      </button>
      <button mat-button style="color: greenyellow;" *ngIf="!application.isRunning" (click)="onAutoStart(application.id)" matTooltip="AutoStart the application" >
        <mat-icon aria-label="AUTO-RUN">autorenew</mat-icon>
      </button>
      <button mat-button color="accent" *ngIf="!application.isRunning" (click)="onUpdateSoftware(application.id)" matTooltip="Update the application" >
        <mat-icon aria-label="UPDATE">update</mat-icon>
      </button>
      <button mat-button color="accent" *ngIf="application.isRunning" (click)="onRestart(application.id);" matTooltip="Restart the application" >
        <mat-icon aria-label="RESTART">autorenew</mat-icon>
      </button>
      <button mat-button color="warn" *ngIf="application.isRunning" (click)="onStop(application.id)" matTooltip="Stop the application" >
        <mat-icon aria-label="STOP">stop</mat-icon>
      </button>
      <a mat-button color="primary" [routerLink]="['/apps/edit', application.id]">
        <mat-icon aria-label="EDIT">edit</mat-icon>
      </a>
      <button mat-button color="warn" (click)="onDelete(application.id)">
        <mat-icon aria-label="DELETE">delete</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator
      [length]="totalApplications"
      [pageIndex]="0"
      [pageSize]="applicationsPerPage"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onChangedPage($event)"
      *ngIf="applications.length > 0">
</mat-paginator>
<p class="info-text mat-body-1" *ngIf="applications.length <= 0 && !isLoading">No applications added yet!</p>
