<div>
  <img src="http://img.xooimage.com/files59/1/6/3/banniere-darkwolf-final-1--40f766d.png">
  <p>
    The Independent Gamers est une équipe francophone multigaming orientée vers le FUN. Nous proposons à nos membres une bonne ambiance et un environnement de jeu élargi.
    Notre objectif principal est de nous divertir tous ensemble et de passer de bons moments.
  </p>
  <p>
    Nous avons commencé à construire la team, avec un petit groupe d'amis, provenant tous d'une ancienne team.
    Nous sommes en moyenne âgé de 24 ans, nous souhaitons donc recruter au-delà de 17 ans afin de garder une cohésion au sein du groupe. Nous ne demandons pas de présence minimum, juste une activité sur notre Discord.
  </p>
  <p>
    Tout type de joueur peut nous rejoindre, expérimenté ou non, puisque nous promulguons conseils et support tant bien en jeu, pour les streams, qu'en informatique. Nous demandons cependant que le joueur qui souhaite nous rejoindre possède au grand minimum DEUX JEUX en commun avec les jeux dits principaux de la team (voir plus bas) dans le but d'une intégration optimale.
  </p>
  <p>
    Notre structure a besoin de membres volontaires pour la faire grandir. Vous trouverez l'adresse du forum en suivant ce lien : http://theindependentgamers.xooit.fr/index.php
  </p>
  <p>
    Nous possédons beaucoup de jeux et sommes ouvert à de nouveaux :
    Battlefield V (3/4), Counter Strike : Global Offensive, Divinity: OS2, Fortnite, Heroes Of The Storm, Player Unknown Battlegrounds, Rainbow Six Siege, Rocket League, World of Warcraft mais aussi Dawn of War III, Grand Theft Auto V, Guild Wars 2, Overwatch, Star Citizen...
  </p>
</div>
